<div class="{{classPrefix}}" data-index="{{index}}">
  <span class="file-info">
    <span class="file-icon {{fileType}}">{{fileType}}</span>
    <span class="file-name">{{fileName}}</span>
    <span class="file-size">{{fileSize}}</span>
    <div class="handle">
      <span class="delete-file" data-role="delete-file">删除</span>
    </div>
  </span>
</div>
