<div class="pic-wrapper index-{{index}} {{className}}" data-index="{{index}}" style="position:relative;float:left">
  <img class="pic" alt="{{fileName}}" title="{{fileName}}" />
  <div class="handle" style="position:absolute;bottom:0;width:100%;height:0;overflow:hidden">
    <span class="delete-pic" data-role="delete-pic" style="cursor:pointer">删除</span>
  </div>
</div>

